---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1> -->
  <!-- <ul class="post-list"> -->
  <!--   {% for post in site.posts %} -->
  <!--     <li> -->
  <!--       <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span> -->
  <!--       <h2> -->
  <!--         <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> -->
  <!--       </h2> -->
  <!--     </li> -->
  <!--   {% endfor %} -->
  <!-- </ul> -->

  <ul class="page-list">
    {% assign pages = site.pages | sort:'difficulty' %}
    {% for page in pages %}
    {% if (page.category == "brain-teaser" and page.tags contains "question") %}
    <li>
      <h4>
        <a class="post-meta" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </h4>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

</div>

