---
layout: default
---

<div class="home">

<style type="text/css" media="screen">
  td {
  padding-left: 5px;
  padding-right: 5px;
}
</style>
<table>
  <tr style="font-size: 14px;">
    <td>Difficulty</td><td>Solved</td><td>Question</td>
  </tr>
    {% assign pages = site.pages | sort:'difficulty' %}
    {% for page in pages %}
    {% if (page.category == "brain-teaser" and page.tags contains "question") %}
  <tr>
    <td>
      {% include stars.html difficulty=page.difficulty %}
    </td><td>{% if page.tags contains "solved" %}<img src="check.png" width="20px">{% else %}{% endif %}</td>
    <td>
      <h4 style="display:table-cell;">
        <a class="post-meta" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </h4>
    </td>
  </tr>
    {% endif %}
    {% endfor %}
</table>    
  
</div>

